<div id="sidebar">
				<ul>
					<li><%= link_to "ABOUT ME",pages_about_path %></li>
					<li><%= link_to "CONNECT",pages_connect_path %></li>
					<li><%= link_to "A DAY IN LIFE", pages_dayinlife_path %></li>
				</ul>
</div>