<h3 style="text-align: center">About Me</h3>
<div id="questions"> 
<ul>
	<li id="response">
		<b>Where are you located?</b>
		<p>I live in Media,Pennsylvania,USA. </p>
	</li>
	<li id="response">
		<b>Why are you looking for a new position?</b>
		<p>I was full time working till Sep 2015, I had a baby and personal career gap. Now I'm actively looking for remote position to maintain balance between my family and work. </p>
	</li>

	<li id="response">
		<b>Can you summarize your remote work experience?</b>
		<p>In my last role as Production Support Specialist I worked remotely. I was a critical resource,I provided application support from offshore and I worked from home to provide support on weekends,off-business hours.I was actively involved in on-call rotational shifts.</p>
	</li>

	<li id="response">
		<b>What should we definitely look at in your resume/work experience?</b>
		<p>I started my career as Support Analyst and I understand the significance of Customer Support. I am very sincere,hard-working,self-motivated and love to take challenges.</p>
	</li>

	<li id="response">
		<b>What’s not on your resume/work experience but you think we should know?</b>
		<p>The Other side of me not in Resume is I love learning everyday and I utilize the career break by learning about various programming languages - Ruby On Rails Python and I developed the passion for Web Technologies. <br />  
		Out of my interest I started to Blog and this is my personal blog: 
		<a href="https://joinandsave.blogspot.com/">https://joinandsave.blogspot.com/</a>
		
	</li>


	<li id="response">
		<b>Can you summarize your HTML/CSS/JavaScript knowledge?</b>
		<p>I have good knowledge of HTML/CSS/Javascript and I have created some web projects from scratch.
		I have few sample Web Pages deployed in Code Pen:<br />

		Below is my CodePen Link: <a href="https://codepen.io/sumithas2/">https://codepen.io/sumithas2/</a></p>
	</li>


	<li id="response">
		<b>Why do you think you’re a good fit for this role?</b>
		<p>I have great respect for your company’s vision of ecommerce and your products helping merchants manage and grow their online stores and I would welcome the opportunity to work with the best in the business.  At the same time, I understand the company’s respect for employees and how you create a great environment working remotely and flexibility. I have 7+ years of IT experience in Production Support and Development with Unix, PL/SQL technologies and 2+ years of experience in HTML,CSS,Python, JavaScript. As a highly competent support specialist, I would bring a service focused and hard working attitude to this role.I am passionate about learning new technologies and always love to resolve customers issue on technical front.I am the unique combination of technical aptitude and empathize to customer's issue. 
		I think my proactive style would fit in really well here — especially in this particular role.</p>
	</li>

	<li id="response">
		<b>Anything else we should know about you?</b>
		<p>I am currently stay-at-home mom taking care of my daughter and I would like to kick start my career after break and I am looking to continue what I am passionate to do - working as Customer Support Professional and talk to customers and resolve their technical issues.
		</p><br /> <br />
		
	</li>



</ul>
</div>