<h3 style="text-align: center">A DAY IN LIFE</h3>
<div id="dayquestions"> 
<ul>
	<li id="response">
		<b>I’m considering switching to Product Customizer. Does your app allow live image previews?</b>
		<p>Dear Customer,<br/><br/>

				Thanks for checking out our SkyVerge App.<br/><br/>

Unfortunately, Our App doesnt allow live image previews yet. I'm sorry about that.<br/>
<br/>
I can definitely understand why this feature would be very handy, though!. Having live image preview 
would be more creative and interactive so you can decide on which image goes best before live in production.
I'm talking to my Engineering development team later this week so I'll make sure to show them our email 
conversation and add your vote for this one.<br/><br/>

If you have any other questions, please let me know and I'll be happy to help.
Thank you again for checking out SkyVerge App and have an awesome weekend!<br/><br/>

Sincerely,<br/>
Sumitha <br/>
</p>
	</li>
	<hr />


<li id="response">
<b> Fire Alarm <br /><br />
Imagine you’ve just started your workday. You login and see a large number of emails from distraught customers. Clearly, something is happening. What steps do you take?</b>

<p>I would quickly glance through all the emails from the Customers starting from the very first message I received. I would make notes from emails to understand the issue, categorize the issue. if they are writing about one common issue then I would immediately check with my other team members if there's any outage or any any major technical issue. I would check the logs, email for any new changes implemented.  I would gather as much of information as possible and verify my findings with my other team members,managers. I would communicate to the customers after agreeing/approval from the team.
I would proactively respond to the customer emails, empathise to them and respond to them that we are aware of the issue and the relevant technical teams are working on it, if possible I would give an estimate time for the fix. </p>

</li>

<hr />

<li id="response">
<b>
Step-by-Step <br /><br />

We’d like to get an idea of how you explain concepts and processes. What was the last thing your purchased online? Tell us, step-by-step, how you went about searching, choosing, and completing your purchase.
</b>

<p><h4>Online Purchase of Pampers Diapers Easy Ups</h4>
I am running short of diapers for my baby so I was searching for diapers in-store and online. 
</p>
<ul>
	<li>Went to nearest Walmart , Checked for Diapers on Sale Aisle - Mostly Huggies brand was on-sale.
(different brand that I thought of buying), so just took picture of the current sale of Diapers and came back home. </li><br />
<li>I searched on Google for Pampers Diapers Easy Ups size 5, Few familiar shopping sites where I have an account  Jet.com,Boxed.com,Walmart.com,Target.com showed up with the search results.</li>

<li>Logged in to my boxed.com account, added 1 Pampers easy ups diapers each box - $24.99 ( Size 5 3T-4T - 72 count) to the cart and checked for online promo codes,coupons and I wanted free shipping but boxed offers free shipping for more $49.99 so I added 1 more diaper box. So total came up $49.98 and was eligible for free shipping and free Boxed Samples. Since I didnt have any promo code and no more items I decided to hold on Boxed order.</li><br />
<li>Logged in to Jet.com account, searched Pampers easy ups diapers and added 1 pampers diapers box $35.94 (Size 5 3T-4T 104 Count)
 to the cart and checked for online promo codes,coupons and I wanted free shipping and Jet offers free shipping for more $35 s I was eligible for free shipping and then I  calculated each diaper price. It was 0.34c/diaper.Since I didnt have any promo code and no more items I decided to hold on Jet order.</li> <br />
<li>Logged in to Walmart.com ,searched Pampers easy ups diapers and added 1 pampers diapers box $42.97
 (Size 5 3T-4T 148 Count)  to the cart and checked for online sale, Walmart e-gift cards and I was eligible for free shipping or free pick up in store and then I  calculated each diaper price.(42.97 plus tax come total = $45.55) It was 0.30c/diaper. 
I was almost good to go with walmart.com but just wanted to check target.com.</li> <br />
<li>Logged in to Target.com, searched Pampers easy ups diapers and then saw Promotional offer of "Get $25 E-target Gift for eligible baby care products for $100". It got my attention and I started to search more and more on the baby care products and I was running in and around house to make list to buy baby products. I prepared list with Aveeno Baby Body Wash, Aveeno Baby Body Lotion, Pampers Swim Diapers, Enfamil Poly vi-sol multivitamins drops.</li> <br />
<li>Finally I searched all these products and added to the cart. I decided to buy more than $100 to get the "$25 E-target Gift"
and I added 2 quantity of the products.<br /><br />
Pampers Easy Ups Girls Training Pants Giant Pack 3T-4T (104 ct)
qty 2 $69.98  <br />
Aveeno Baby Wash and Shampoo - 18 oz.
qty 2 $13.58<br />
Aveeno Baby Daily Moisture Lotion 8 Fl Oz. - 8 oz.
qty 2 $9.98<br />
Pampers Splashers Disposable Swim Pants - Size 5 (22 ct)
qty 1 $9.29 <br /> <br />
</li>
<li> I have Target Red Credit Card so I get 5% discount and get free-shipping.
I collect points from various Mobile Apps and I redeemed for Free target gift card and I already had $15 in my account.
I have an Ibotta - Grocery Cash Back SmartPhone App with balance of $31 so I redeemed $25 Target gift card and I added that gift card to my target account. </li><br /><br />

<li>
	Online Order summary:<br />

subtotal (8 items) $102.83 <br />
discounts -$29.39 <br />
		Spend $100 get $25 giftcard on baby care <br />
		REDcard 5% Discount <br />
delivery free <br />
		REDcard free shipping <br /> 
tax 		$1.01 <br /> <br />

total $99.45 <br /> <br /> 
total giftcards -$40.00 <br /> <br /> 
Charge on Credit Card: $59.45 <br />
</li>
<br />
<li>I placed the order yesterday 5/3/17, I received the $25 Target gift card through email and the package is on the way.
So finally I paid $59.45 for 7 products and I got $25 Target free gift card. So For $34.45 I got So many baby care products.
I usually shop online from other cashback site. So I logged in to topcashback.com account, searched , clicked on target.com and purchased the online order. I would get 2.25% cashback from topcashback for this online deal.</li> <br /><br />

<p>
This is how I usually do online shopping, search, find the best deals, compare the prices and then finally Purchase.</p>
<br /><br /> <hr />
</ul>

	
</ul>
</div>