// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	padding: 0;
	
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;

}


#header {
	width: 1000px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	text-align:center;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;

}

#header p {
	margin: 0;
	padding: 0px 0 0 32px;
	font: normal 15px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #BEBEBE;
	text-align:center;

} 
/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0px 0px 0px 20px;
}

#page-bgtop {
	padding: 20px 0px;
}
/* Content */

#content {
	float: right;
	width: 700px;
	padding: 40px 0px 0px 0px;
}

#questions  ul li p {
	font-style: italic;
}



/* Sidebar */

#sidebar {
	float: left;
	width: 300px;
	margin: 0px;
	padding: 20px 20px 0px 0px;
}

#sidebar ul {
    list-style-type: none;
    margin: 0 150px;
    padding: 15px;
    width: 200px;
    height: 280px;
    background-color: #f1f1f1;
}

#sidebar li a {
    display: block;
    color: #000;
    padding: 35px;
    text-decoration: none;
    font-size: 18px;
    text-align:center;
}

/* Change the link color on hover */
#sidebar li a:hover {
    background-color: #555;
    color: white;
}

/* connect */

.connect ul {
    list-style-type: none;
    margin: 80px 200px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 300px;

}

.connect li {
    float: left;
    border-right: 10px solid #fff;
}

.connect li:last-child {
    border-right: none;
}

.connect li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.connect li a:hover:not(.active) {
    background-color: #111;
}

.connect .active {
    background-color: #4CAF50;
}


/* Footer */


#footer {
   position:fixed;
   bottom: 0;
   width: 1000px;
   margin: 0 150px;
   height: 30px;
   padding: 0px 0px 0px 0px;
   background:#616161;//optional
   text-align:center;
}

#footer p {
	margin: 0;
	padding: 0px 0 0 32px;
	font: normal 15px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #BEBEBE;
	
} 

ul {
	
}