<%= render "partials/header" %>  
<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content"> 
				<%= yield %> 	<!-- Main View -->
					<div style="clear: both;">&nbsp;</div>
				</div>
			</div>
		</div>
</div>
<%= render "partials/sidebar" %>  
<div id="footer">
		<p>Designed & Developed by Sumitha </p>
</div>